{% extends 'main/login.html' %}
{% load static %}

{% block section_1 %}
<div class="detail_section_desk auth_section">
  <div class="center_text cat_desktop">
    <p class="center_text__top center_text__top__cat_text">
     Password Reset Sent
    </p>
    <p class="center_text__middle center_text__middle__desk m_t">
      Sent successfully!
    </p>
    <div class="center_text__description desc">
    Check your mailbox now
    </div>
    <div class="search_form search_form_desk">
      <form  method="GET" action="/search/">
        <div>
          <input type="text" name="query" aria-label="..." required="" autofocus="" placeholder="Search for any article..." class="form-control"> 
        </div> 
        <button class="search_btn_icon" type="submit" aria-label="Search"><i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock section_1 %}

{% block section1_b %}
<div class="signup_form">
  <div class="form_header"><i class="fas fa-key"></i><span class="create_account">Reset (Password)</span></div>
  <div class="form_ads">
    <div class="main_form content_adjust">
      <p>We've emailed you instructions for setting your password, if an account exists with the email you  entered. You should receive it shortly.
      </p>
      <br>
      <p>**Assuming the email does not go through, please make sure you've entered the email address you registered with, and check your spam folder. </p>
      
    </div>
    <div class="ads">
      <p class="advrts_header">Check Out!</p>
      <p class="ads_text">
      </p>
    </div>
  </div>

</div>

{% endblock section1_b %}

{% block section2_a %}
{% endblock section2_a %}

{% block section2_b %}
{% endblock section2_b %}
{% block script %}
{% endblock %}
