{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'authorize:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
{% blocktrans %} if you did not request for password reset, please contact the Admin via support@joint-access-programmer.com directly for immediate action{% endblocktrans %}
{% trans "Thanks for sticking with us. !" %}
{% blocktrans %}
The Joint-access-programmer's Team!
{% endblocktrans %}

{% endautoescape %}


