{% extends 'main/login.html' %}
{% load static %}

{% block section_1 %}
<div class="detail_section_desk auth_section">
  <div class="center_text cat_desktop">
    <p class="center_text__top center_text__top__cat_text">
     Confirm Password Reset
    </p>
    <p class="center_text__middle center_text__middle__desk m_t">
      Choose new password
    </p>
    <div class="center_text__description desc">
    Please enter your new password twice so we can verify you typed it in correctly.
    </div>
    <div class="search_form search_form_desk">
      <form  method="GET" action="/search/">
        <div>
          <input type="text" name="query" aria-label="..." required="" autofocus="" placeholder="Search for any article..." class="form-control"> 
        </div> 
        <button class="search_btn_icon" type="submit" aria-label="Search"><i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock section_1 %}

{% block section1_b %}
<div class="signup_form">
  <div class="form_header"><i class="fas fa-key"></i><span class="create_account">Reset (Password)</span></div>
  <div class="form_ads">
    <form class="main_form content_adjust" method="POST" enctype="multipart/form-data">
       {% csrf_token %}
      <tr>
        <th>
          {% if form.errors %}
          {% for field in form.visible_fields %}
          {% if forloop.counter == 2 %}
            <div class="fail" style="display: block;margin: 0;"><span class="angry_emoji">😡</span> Oh no! {{ field.errors.as_text|cut:"*" }}</div>
          {% endif %}
          {% endfor %}
          {% endif %}
          <label for="id_email" class="label_class">Password:</label>
        </th>
        <td><input class="form-control-2" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1"></td>
      </tr>
      <tr>
        <th>
          <label for="id_email" class="label_class">Re-enter password:</label>
        </th>
        <td><input class="form-control-2" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2"></td>
      </tr>
      <div class="btn_pass">
      <button type="submit" class="login_act"><i class="fas fa-key"></i> Reset Password</button>
        </div>
    </form>
    <div class="ads">
      <p class="advrts_header">Check Out!</p>
      <p class="ads_text">
      </p>
    </div>
  </div>

</div>

{% endblock section1_b %}

{% block section2_a %}
{% endblock section2_a %}

{% block section2_b %}
{% endblock section2_b %}


{% block script %}
{% endblock %}
