{% extends 'main/login.html' %}
{% load static %}
{% block title %}
<title>{{title}}: joint-access-programmer.com</title>
{% endblock title %}
{% block section_1 %}
<div class="detail_section_desk auth_section">
  <div class="center_text cat_desktop">
    <p class="center_text__top center_text__top__cat_text">
     Reset Password
    </p>
    <p class="center_text__middle center_text__middle__desk m_t">
      Forgot your password?...
    </p>
    <div class="center_text__description desc">
     Enter the email you registered with and let's get you a new password.
    </div>
    <div class="search_form search_form_desk">
      <form  method="GET" action="/search/">
        <div>
          <input type="text" name="query" aria-label="..." required="" autofocus="" placeholder="Search for any article..." class="form-control"> 
        </div> 
        <button class="search_btn_icon" type="submit" aria-label="Search"><i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock section_1 %}

{% block section1_b %}
<div class="signup_form">
  <div class="form_header"><i class="fas fa-lock-open"></i><span class="create_account">Reset (Password)</span></div>
  <div class="form_ads">
    <form class="main_form content_adjust" method="POST" enctype="multipart/form-data">
       {% csrf_token %}
      <tr>
        <th>
          <label for="id_email" class="label_class">Email:</label>
        </th>
        <td><input type="email" name="email" autocomplete="email" maxlength="254" class="form-control-2" required id="id_email"></td>
      </tr>
      <div class="btn_pass">
      <button type="submit" class="login_act"><i class="fas fa-key"></i> Reset Password</button>
        </div>
    </form>
    <div class="ads">
      <p class="advrts_header">Check Out!</p>
      <p class="ads_text">
      </p>
    </div>
  </div>

</div>

{% endblock section1_b %}

{% block section2_a %}
{% endblock section2_a %}

{% block section2_b %}
{% endblock section2_b %}
{% block script %}
{% endblock %}
