{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}: Taking Your Coding Career To The Next Level!</title>
    <!-- Adding open graph -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Joint-access-programmer.com, simply created for developers." />
    <meta property="og:description" content="Creating web interfaces, APIs, Backends, Algorithms, Scripts are insanely fun and satisfying, but can be difficult as well. Our main goal is to break down these heinous tasks simply plain." />
    <meta property="og:url" content="{{ canonical_path }}" />
    <meta property="og:site_name" content="Joint Access Programmer" />
    <meta name="twitter:card" content="summary" />
      <!-- // Adding open graph -->
    <meta name="msvalidate.01" content="FF4A9A651AC4C69EA5C0444405C51FD3" />
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="theme-color" content="#2f195f">
    <link rel="apple-touch-icon" href="{% static 'img/jap_logo.svg' %}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon_pack/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static  'img/favicon_pack/logo_180x180.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static  'img/favicon_pack/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static  'img/favicon_pack/favicon-16x16.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dependencies/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    <link rel="canonical" href="{{ canonical_path }}" />
    <script data-ad-client="ca-pub-8540441848048347" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body id="top_most">
<div class="overall_wrapper">
    <div class="top_hr"></div>
    <a href="#top_most">
        <div class="dummy">
            <i class="fas fa-angle-up"></i>
        </div>
    </a>
    {% block section_1 %}
    <div class="section_one">
        <div class="center_text">
            <p class="center_text__top">
                Sorry!
            </p>
            <p class="center_text__middle">
                Routine Maintenance
            </p>
            <div class="center_text__description">
                We are posed in delivery the best service to our visitors and as such we develop
                and enhance the platform on routine basis. we should be back up in 2/3 minutes from
                now!
            </div>
            <div class="create_button">
                
                    <div class="create_button__inner">
                        Thank You!
                    </div>
            </div>
        </div>
    </div>
    {% endblock section_1 %}
</div>
</div>
</body>
</html>