{% extends "index.html" %}
{% load static %}
{% block title %}
<title>{{title}}: joint-access-programmer.com</title>
{% endblock title %}
{% block section_1 %}
<div class="detail_section_desk auth_section tos_section">
    <div class="center_text cat_desktop">
        <p class="center_text__top center_text__top__cat_text">
            Terms of Service
        </p>
        <p class="center_text__middle center_text__middle__desk m_t">
            Website Terms and Conditions of Use
        </p>
        <div class="center_text__description desc descr_tos">
            <p>By accessing this Website, accessible from Joint-Access-Programmer.com, you are agreeing to be bound by this Website's Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>
        </div>
        <div class="search_form search_form_desk">
            <form  method="GET" action="/search/">
                <div>
                    <input type="text" name="query" aria-label="..." required="" autofocus="" placeholder="Search for any article..." class="form-control"> 
                </div> 
                <button class="search_btn_icon" type="submit" aria-label="Search"><i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock section_1 %}

{% block section1_b %}
 <div class="signup_form">
    <div class="form_header"><i class="fas fa-user-secret"></i><span class="create_account">TOS - Full Doc.</span></div>
    <div class="form_ads">
        <div class="main_form content_adjust">
          <p class="legal_heading"><strong>1. Terms</strong></p>

          <p>By accessing this Website, accessible from Joint-Access-Programmer.com, you are agreeing to be bound by this Website's Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>

          <p class="legal_heading"><strong>2. Use License</strong></p>

          <p>Permission is granted to temporarily download one copy of the materials on Joint-Access-Programmer's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>

          <ul class="legal_ul">
              <li>modify or copy the materials;</li>
              <li>use the materials for any commercial purpose or for any public display;</li>
              <li>attempt to reverse engineer any software contained on Joint-Access-Programmer's Website;</li>
              <li>remove any copyright or other proprietary notations from the materials; or</li>
              <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
          </ul>

          <p>This will let Joint-Access-Programmer to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.</p>

          <p class="legal_heading"><strong>3. Disclaimer</strong></p>

          <p>All the materials on Joint-Access-Programmer’s Website are provided "as is". Joint-Access-Programmer makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, Joint-Access-Programmer does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>

          <p class="legal_heading"><strong>4. Limitations</strong></p>

          <p>Joint-Access-Programmer or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on Joint-Access-Programmer’s Website, even if Joint-Access-Programmer or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>

          <p class="legal_heading"><strong>5. Revisions and Errata</strong></p>

          <p>The materials appearing on Joint-Access-Programmer’s Website may include technical, typographical, or photographic errors. Joint-Access-Programmer will not promise that any of the materials in this Website are accurate, complete, or current. Joint-Access-Programmer may change the materials contained on its Website at any time without notice. Joint-Access-Programmer does not make any commitment to update the materials.</p>

          <p class="legal_heading"><strong>6. Links</strong></p>

          <p>Joint-Access-Programmer has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by Joint-Access-Programmer of the site. The use of any linked website is at the user’s own risk.</p>

          <p class="legal_heading"><strong>7. Site Terms of Use Modifications</strong></p>

          <p>Joint-Access-Programmer may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

          <p class="legal_heading"><strong>8. Governing Law</strong></p>

          <p>Any claim related to Joint-Access-Programmer's Website shall be governed by the laws of NG without regards to its conflict of law provisions.</p>

        </div>
        <div class="pp_ads">
            <p class="advrts_header">Check Out!</p>         
            <p></p>
        </div>
    </div>
    
 </div>

{% endblock section1_b %}

{% block section2_a %}
{% endblock section2_a %}

{% block section2_b %}
{% endblock section2_b %}

