{% extends "index.html" %}
{% load static %}
{% block title %}
<title>JointAP | Not Found!</title>
{% endblock title %}
{% block section_1 %}
<div class="detail_section_desk auth_section">
    <div class="center_text cat_desktop">
        <p class="center_text__top center_text__top__cat_text">
          ☠ 404 (Not Found!)
        </p>
        <p class="center_text__middle center_text__middle__desk m_t">
            The page you're searching for must have been moved or deleted
        </p>
        <div class="center_text__description desc">
            You can use the search bar to search for a similar article.
        </div>
        <div class="search_form search_form_desk">
            <form  method="GET" action="/search/">
                <div>
                    <input type="text" name="query" aria-label="..." required="" autofocus="" placeholder="Search for any article..." class="form-control"> 
                </div> 
                <button class="search_btn_icon" type="submit" aria-label="Search"><i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock section_1 %}

{% block section1_b %}

{% endblock section1_b %}

{% block section2_a %}
{% endblock section2_a %}

{% block section2_b %}
{% endblock section2_b %}











